<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <File name="log4jDebug" fileName="./log/debug.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss a} [Thread: %t][ Class:%c Method: %l ]%n%p:%m%n"/>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="log4jInfo" fileName="./log/info.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss a} [Thread: %t][ Class:%c Method: %l ]%n%p:%m%n"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="log4jWarn" fileName="./log/warn.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss a} [Thread: %t][ Class:%c Method: %l ]%n%p:%m%n"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="log4jError" fileName="./log/error.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss a} [Thread: %t][ Class:%c Method: %l ]%n%p:%m%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="log4jDebug"/>
            <AppenderRef ref="log4jInfo"/>
            <AppenderRef ref="log4jWarn"/>
            <AppenderRef ref="log4jError"/>
        </Root>
    </Loggers>
</Configuration>
